[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggformula"]
	path = ggformula
	url = https://github.com/projectmosaic/ggformula
[submodule "ggiraph"]
	path = ggiraph
	url = https://github.com/davidgohel/ggiraph
	branch = for-ggplotv4
	registered = false
[submodule "mosaic"]
	path = mosaic
	url = https://github.com/projectmosaic/mosaic
[submodule "mosaicCalc"]
	path = mosaicCalc
	url = https://github.com/projectmosaic/mosaiccalc
[submodule "mosaicCore"]
	path = mosaicCore
	url = https://github.com/projectmosaic/mosaiccore
[submodule "mosaicData"]
	path = mosaicData
	url = https://github.com/projectmosaic/mosaicdata
